<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vissoka_Marketing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Vissoka_Marketing.Properties.Settings>
            <setting name="userID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="userUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="userContacts" serializeAs="String">
                <value />
            </setting>
            <setting name="userState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userPermissions_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userCompany_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userDate" serializeAs="String">
                <value />
            </setting>
        </Vissoka_Marketing.Properties.Settings>
    </userSettings>
</configuration>
